In [106]:
import pandas as pd
import numpy as np 
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

In [107]:
path = r"C:\Users\yusuf\OneDrive\Documents\Data Science Projects\Database\Streamlit Project"
Agriculture_percent = "agriculture_percent.csv"

Ease_of_business = 'Ease_of_business.csv'
Exp_education = 'exp_education.csv'
Export = 'export.csv'
GDP_world = 'GDP_world.csv'
Health_exp = 'health_exp.csv'
Import_world = 'import.csv'
Industry_percent = 'Industry_percent.csv'
Inflation_world = 'Inflation_world.csv'
RnD = 'RnD.csv'
Service_percent = 'Service_percent.csv'
Unemployment = 'unemployment.csv'
Population = "Population.csv"

list_of_paths = [Agriculture_percent,Ease_of_business,Exp_education,Export,GDP_world,Health_exp,Import_world,Industry_percent,Inflation_world,RnD,Service_percent,Unemployment,Population]

In [108]:
def melt(name):
    path_current = path +"\\" + name
    df = pd.read_csv(path_current)
    cols_to_melt = df.columns[-24:-1]
    melted = pd.melt(df,id_vars = ["Country Name", "Country Code"], value_vars= cols_to_melt,var_name = "Year",value_name= f'{name[:-4]}')
    return melted

In [109]:
final_frame = pd.DataFrame()
number = 1
for value in list_of_paths:
    print(value)
    df_current = melt(value)
    if number == 1:
        final_frame = df_current
        number = number +1
    else:
        final_frame = pd.merge(left = final_frame,right= df_current, how = "outer", on = ["Country Name", "Year","Country Code"])
        number = number + 1

agriculture_percent.csv
Ease_of_business.csv
exp_education.csv
export.csv
GDP_world.csv
health_exp.csv
import.csv

Industry_percent.csv
Inflation_world.csv
RnD.csv
Service_percent.csv
unemployment.csv
Population.csv

In [110]:
ccodes = pd.read_csv(path+"\\"+"country_code.csv")
ccodes = ccodes.loc[:,["Continent_Name","Three_Letter_Country_Code"]].dropna()
final_frame = pd.merge(left = final_frame, right = ccodes, left_on="Country Code", right_on="Three_Letter_Country_Code", how = 'left').drop(columns = "Three_Letter_Country_Code").dropna(subset = ["Continent_Name"])
final_frame = final_frame.sort_values(["Country Name","Year"])
final_frame

,Country Name,Country Code,Year,agriculture_percent,Ease_of_business,exp_education,export,GDP_world,health_exp,import,Industry_percent,Inflation_world,RnD,Service_percent,unemployment,Population,Continent_Name
2,Afghanistan,AFG,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.054,19542982.0,Asia
275,Afghanistan,AFG,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.040,19688632.0,Asia
548,Afghanistan,AFG,2002,38.627892,NaN,NaN,NaN,3.854235e+09,9.443391,NaN,23.810127,NaN,NaN,36.151155,8.186,21000256.0,Asia
821,Afghanistan,AFG,2003,37.418855,NaN,NaN,NaN,4.539497e+09,8.941258,NaN,22.710864,NaN,NaN,37.444804,8.122,22645130.0,Asia
1094,Afghanistan,AFG,2004,29.721067,NaN,NaN,NaN,5.220825e+09,9.808474,NaN,26.226790,NaN,NaN,41.110895,8.053,23553551.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5186,Zimbabwe,ZWE,2018,7.319375,50.50998,19.039841,26.163973,3.415607e+10,4.670418,28.386297,31.037898,10.618866,NaN,55.984768,6.784,15052184.0,Africa
5459,Zimbabwe,ZWE,2019,9.819262,54.46935,NaN,27.163459,2.183223e+10,3.659765,25.524111,32.025947,255.304991,NaN,52.677299,7.370,15354608.0,Africa
5732,Zimbabwe,ZWE,2020,8.772859,NaN,15.666611,25.917014,2.150970e+10,3.425581,28.733547,32.767517,557.201817,NaN,52.892574,7.898,15669666.0,Africa
6005,Zimbabwe,ZWE,2021,8.849899,NaN,NaN,25.411446,2.837124e+10,NaN,30.901234,28.805586,98.546105,NaN,56.639870,8.067,15993524.0,Africa
6278,Zimbabwe,ZWE,2022,NaN,NaN,NaN,NaN,2.067806e+10,NaN,NaN,NaN,104.705171,NaN,NaN,7.945,16320537.0,Africa

In [111]:
final_frame.isna().sum()/len(final_frame) * 100

Country Name            0.000000
Country Code            0.000000
Year                    0.000000
agriculture_percent    11.006659
Ease_of_business       80.865648
exp_education          34.978457
export                 16.392479
GDP_world               4.308656
health_exp             19.976498
import                 16.392479
Industry_percent       10.987074
Inflation_world        16.980024
RnD                    60.203682
Service_percent        12.005484
unemployment           13.200157
Population              0.000000
Continent_Name          0.000000
dtype: float64

In [112]:
final_frame.to_csv("World_economy.csv",index=False)